<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tracker</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'show_my_tasks' %}"></a>My tasks
                        </li>
                        <li>
                            <a href="{% url 'list_projects' %}"></a>My projects
                        </li>
                        <li>
                            <a href="{% url 'logout' %}"></a>Logout
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}"></a>Login
                        </li>
                        <li>
                            <a href="{% url 'signup' %}"></a>Signup
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
            <main>
                <div>
                    <h1>Login</h1>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Login</button>
                    </form>
                </div>
            </main>
        {% endblock content %}
    </body>
</html>
